#enterReview, .liked {
	padding: 1%;
}

#average {
	color: white;
}

.jumbotron {
	width: 100%;
	background-color: #79a3d6; 
}

#enterReview {
	width: 80%;
	margin: auto;
	color: #79a3d6;
}

.form-control {
	margin: 2%;
	margin-left: 0px;
	color: #79a3d6;
}

#pastReviews > h2 {
	color: rgb(240, 101, 101);
}

#showReviews > .jumbotron {
	width: 100%;
}

#submitBtn {
	background-color: #79a3d6;
	color: white;
}

#submitBtn:hover {
	background-color: rgb(240, 101, 101);
}

#showReviews {
	color: white;
}

#del {
	background-color: transparent;
}

#choose > img {
	max-height: 150px;
	margin: 2%;
}

#choose > img:hover {
	max-height: 200px;
	margin: 0%;
}

#pick {
	height: 400px;
	margin: 5%;
}

hr {
	width: 90%;
}

#header {
	width: 100%;
	background-image: url('../image/background.jpg');
}

#blur {
	margin: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(102, 127, 153, 0.63);
}