#enterReview, .liked {
	padding: 5%;
	font-weight: 300px;
}

#del {
	background-color: transparent;
}

#choose > img {
	max-height: 150px;
	margin: 2%;
}

#choose > img:hover {
	max-height: 200px;
	margin: 0%;
}

#pick {
	height: 400px;
	margin: 5%;
}

#header {
	width: 100%;
	background-image: url('../image/background.jpg');
}

#blur {
	margin: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(102, 127, 153, 0.63);
}